body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-color: rgb(14, 0, 32);
    background-size: 100% 100%;
}
header{
    min-height: 150px;
    background: rgba(48, 48, 48, 0.678);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main{
    min-height: 500px;
    display: flex;
    flex-wrap:wrap;
}
#imagen--novedad{
    min-width: 300px;
    min-height: 300px;
    opacity:1;
}
#botones button{
    font-family: monospace;
    color: aquamarine;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    transition: 1s;
    transition-delay: .2s;
    margin: 10px;
}
#botones button:hover{
    color: rgb(34, 34, 34);
    background-color: aquamarine ;
}
#button--US{
    font-family: monospace;
    color: aquamarine;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    transition: 1s;
    transition-delay: .2s;
    margin: 10px;
}
#button--US:hover{
    color: rgb(34, 34, 34);
    background-color: aquamarine ;
}
#novedad{
    color: rgb(224, 224, 224);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    margin-left: 30px;
    width: 30%;
}
#novedad--disco_y_boton{
    width: 70%;
}
#botones{
    width: 40%;
}
#BEAT{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:linear-gradient(
        2deg,
        #4a0063 15%,
        #eeb9ff 25%,
        #da6aff 35%,
        #9000c0 45%,
        #7409ff 55%,
        #aa69ff 65%,
        #5600b8 75%,
        #ae8cff 85%

    );
    letter-spacing: 5px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 80px;
    animation: shadow 1s linear infinite;
}
@keyframes shadow {
    0%{
        filter: 
        drop-shadow(10px 10px 10px
        rgb(255, 63, 63));
    }
    50%{
        filter: 
        drop-shadow(10px 10px 10px
        rgb(85, 0, 0));
    }
    100%{
        filter: 
        drop-shadow(10px 10px 10px
        rgb(255, 63, 63));
    }
    
}
#button--escuchar{
    font-family: monospace;
    color: rgb(255, 160, 52);
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    transition: 1s;
    transition-delay: .2s;
    margin: 10px;
}
#button--escuchar:hover{
    color: rgb(34, 34, 34);
    background-color: rgb(255, 160, 52) ;
}