{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Portada</title>
	<link rel="stylesheet" href={%static "/estio.css"%}>
</head>
<body>
	<header>
		<h1 id="BEAT">8-BEAT</h1>
		<ol id="botones">
			<a href="../music/" id="Songs"><button id="button--Canciones">Canciones</button></a>
			{%if estado %}
			<a href="../ingreso/" id="US"><button id="button--US">Ingresar</button></a>
			{%else%}
            <a href="../add/" id="add_new"><button id="button--add_song">Añadir cancion</button></a>
			<h3 id="button--US">usuario: {{logeado}}</h3>
			{%endif%}
		</ol>
	</header>
	<main>
		<h2 id="novedad">Novedades</h2>

	</main>
</body>
</html>