{%load static%}
<!DOCTYPE html>
<!-- INICIO DEL DOCUMENTO HTML-->
<html lang="en">
<head>
	<!-- EN ESTA ZONA AÑADIMOS CARACTERES ESPECIALES DEL IDIOMA ESPAÑOL-->
	<meta charset="utf-8">
	<!-- TITULO DE LA PAGINA-->
	<title>Canciones</title>
	<!-- ACA ANCLAMOS LA HOJA DE ESTILOS DE CSS-->
	<link rel="stylesheet" href={%static "/estilosPage.css"%}>
    <link rel="shortcut icon" href="#">
</head>
<!-- INICIO DEL CUERPO-->
<body>
    <script>
        let img="{{imagenes}}"
        let aud="{{canciones}}"
        let ancho="{{largo}}"
    </script>
    <header>
		<h1 id="songs">Canciones</h1>
		<ol id="botones">
			<a href="../index/ " id="Principal"><button id="button--volver">Pagina principal</button></a>
			{%if estado %}
			<a href="../ingreso/" id="US"><button id="button--US">Ingresar</button></a>
			{%else%}
            <a href="../add/" id="add_new"><button id="button--add_song">Añadir cancion</button></a>
			<h3 id="button--US">usuario: {{logeado}}</h3>
			{%endif%}
		</ol>
	</header> 
    <nav>
        <button id="anteriorPagina" onclick="backBar()">Pagina anterior</button>
        <ol>
            <img id="disk1" height="100" width="100" src="#" onclick="start(1+(barra*5))"/>
            <img id="disk2" height="100" width="100" src="#" onclick="start(2+(barra*5))"/>
            <img id="disk3" height="100" width="100" src="#" onclick="start(3+(barra*5))"/>
            <img id="disk4" height="100" width="100" src="#" onclick="start(4+(barra*5))"/>
            <img id="disk5" height="100" width="100" src="#" onclick="start(5+(barra*5))"/>
            <audio id="song" >
                <source  src="#"type="audio/mpeg" id="source">
            </audio>
        </ol>
        <button id="siguientePagina" onclick="sigBar()">Siguiente pagina</button>
    </nav>
    <main>
        <button id="antes" onclick="actual-=1;nextBack(actual,0)">Cancion Anterior</button>
        <img id="Centro" height="200" width="200" src="#"/>
        <button id="siguiente" onclick="actual+=1;nextBack(actual,1)">Siguiente Cancion</button>
</main>
    <footer>
        <button id="reproduccion" onclick="reprod()">Reproducir/pausar</button>
    </footer>
</body>
<script> 
    let barra=0
    const atras=document.getElementById('antes')
    const sig=document.getElementById('siguiente')
    let stat=false
    let centro=document.getElementById('Centro')
    let recurso=document.getElementById('source')
    let cancion=document.getElementById('song')
    let rep=document.getElementById('reproduccion')
    let actual
    let i=0
    while(i<5){
        document.getElementById('disk'+(i+1)).src=img+i+".png"
        i+=1
    }
    centro.src=document.getElementById('disk1').src=img+"0.png"
    function sigBar(){
        barra+=1
        if(barra>(parseInt(ancho/5))){
             barra=0
        }
        cambioNav()
    }
    function backBar(){
        barra-=1
        if(barra<=-1){
             barra=(parseInt(ancho/5))
        }
        cambioNav()
    }
    function cambioNav(){
        i=0
        while(i<5){
            if((i+barra*5)>=ancho){
                document.getElementById('disk'+(i+1)).src=img+"NAN.png"
            }else{
            document.getElementById('disk'+(i+1)).src=img+((barra*5)+i)+".png"
            }
            i+=1
        }
    }
    function reprod(){
        if(stat){
            cancion.pause()
            stat=false
        }else{
            cancion.play()
            stat=true
        }
    }
    function nextBack(ids,sta){
        if(sta==1){
            if(ids>5+barra*5){
                ids=1+barra*5
                actual=1+barra*5
            }  
        }else{
            if(ids<1+barra*5){
                ids=5+barra*5
                actual=5+barra*5
            }
        }
        cancion.pause()
        centro.src=document.getElementById('disk'+(ids-barra*5)).src
        recurso.src=aud+((ids)-1)+".mp3"
        cancion=document.getElementById('song')
        cancion.load(recurso.src,function(response){
            console.log(response)
        })
        console.log(ids)
        cancion.play()
        stat=true
    }
    function start(ids){
        cancion.pause()
        stat=false
        centro.src=document.getElementById('disk'+(ids-barra*5)).src
        recurso.src=aud+(ids-1)+".mp3"
        cancion=document.getElementById('song')
        cancion.load(recurso.src,function(response){
            console.log(response)
        })
        actual=ids
        cancion.play()
        stat=true
    }
</script>
</html>